








































.intro__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  max-width: 690px;
  margin-bottom: 33px;
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 100%;
  }
}

.intro__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 1.5;
}

.intro__list-item {
  font-weight: 700;
}

.intro__list-number {
  font-weight: 400;
}


.photo-grid {
  padding: 92px 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    padding: 88px 24px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    padding: 64px 16px;
    gap: 12px;
  }
}

.photo-grid__item {
  margin: 0;
}

.photo-grid__img {
  width: 100%;
}

.places {
  padding: 0 48px;
}

@media screen and (max-width: 1024px) {
  .places {
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding: 0 24px;
  }
}

@media screen and (max-width: 600px) {
  .places {
    padding: 0;
  }
}

.places__place:not(:last-of-type) {
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .places__place:not(:last-of-type) {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 600px) {
  .places__place:not(:last-of-type) {
    margin-bottom: 50px;
  }
}

.places__title-container {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  margin-bottom: 48px;
}

@media screen and (max-width: 1024px) {
  .places__title-container {
    gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .places__title-container {
    gap: 28px;
  }
}

@media screen and (max-width: 600px) {
  .places__title-container {
    flex-direction: column;
    gap: 32px;
    padding: 0 16px;
    margin-bottom: 32px;
  }
}

.places__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  width: 46.8%;
}

@media screen and (max-width: 1023px) {
  .places__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 600px) {
  .places__title {
    font-size: 32px;
    line-height: 1.09;
    width: 100%;
  }
}

.places__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px;
}

.places__url-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.places__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: white;
  transition: opacity .2s;
}

.places__link:hover {
  opacity: .8;
}

.places__content-container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

@media screen and (max-width: 1024px) {
  .places__content-container {
    gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .places__content-container {
    gap: 28px;
  }
}

@media screen and (max-width: 600px) {
  .places__content-container {
    gap: 32px;
    flex-direction: column;
  }
}

.places__image {
  width: 46.8%;
  object-fit: contain;
}

@media screen and (max-width: 600px) {
  .places__image {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .places__paragraph-container {
    padding: 0 16px;
  }
}

.places__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  margin: 0 0 25px;
}

.places__paragraph:last-child {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .places__paragraph {
    font-size: 16px;
    line-height: 1.63;
  }
}

.cover {
  padding-top: 92px;
}

@media screen and (max-width: 425px) {
  .cover {
    padding-top: 66px;
  }
}

.cover__link {
  display: block;
  width: 100%;
  color: white;
  text-decoration: none;
  position: relative;
}

.cover__image {
  position: relative;
  transition: opacity .2s;
}


.cover__link:hover .cover__image {
  opacity: .2;
}

.cover__title-container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.cover__title {
  margin: 0 auto 32px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  max-width: 560px;
}

@media screen and (max-width: 550px) {
  /* Взял 550px, иначе с таким размером шрифта переполнения контейнера не избежать */
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 75%;
    margin-bottom: 16px;
  }
}

.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  margin: 0 auto;
  max-width: 360px;
}

@media screen and (max-width: 550px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    max-width: 90%;
  }
}


.cover__image {
  width: 100%;
}

.footer {
  padding: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 88px 24px 24px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 550px) {

  /* Если менять на 425px, слишком много контента переносится на вторую строку */
  .footer {
    flex-direction: column;
    padding: 64px 16px 24px;
    gap: 48px;
  }
}

.footer__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 550px) {
  .footer__menu-list {
    flex-direction: column;
    gap: 32px;
  }
}


.footer__menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: white;
  text-decoration: none;
  transition: opacity .2s;
}

.footer__menu-link:hover {
  opacity: .8;
}

@media screen and (max-width: 550px) {
  .footer__menu-link {
    font-size: 24px;
    line-height: 1;
  }
}


.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  flex-shrink: 0;
}