.cover {
  display: flex;
  width: 100%;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.cover::after {
  content: "";
  width: 0;
  height: 0;
  margin-left: -1px;
  padding-top: calc(740/1184*100%);
}